
@media screen and (min-width: 500px) {
    header {
        background-color: #000;
        color: #fff;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}
