
@media (min-width: 500px) {
    
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    nav a {
        margin: 0 10px;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .card {
        margin-bottom: 0;
    }
}

@media (max-width: 499px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav a {
        margin: 10px 0;
    }

    main {
        display: block;
    }

    .card {
        margin-bottom: 20px;
    }
}

/* styles/mobile.css */

/* Hamburger menu icon */
.nav-toggle {
    display: none;
  }
  
  #menu-icon {
    display: block;
    cursor: pointer;
    padding: 10px;
    color: #E3DFFF;
    font-size: 24px;
  }
  
  /* Mobile navigation */
  .mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #3D3522;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    z-index: 1;
  }
  
  .mobile-nav a {
    color: #E3DFFF;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Show the mobile navigation when the checkbox is checked */
  #nav-toggle:checked + .mobile-header .mobile-nav {
    display: flex;
  }
  